Repository influxdata/docs.influxdata.com, pull requests merged in 2018-07, with the labels that each got.

#1708 Update content for 1.7.1 release
  content/telegraf/v1.7/about_the_project/release-notes-changelog.md
  content/telegraf/v1.7/plugins/aggregators.md
  content/telegraf/v1.7/plugins/inputs.md
Labels: Telegraf

#1709 Update shard group duration recommendations
  content/influxdb/v1.5/concepts/schema_and_data_layout.md
Labels: InfluxDB OSS

#1715 Updated 'inputs' docs
  content/telegraf/v1.7/plugins/inputs.md
Labels: Pending PR

#1711 Mention precision config option in UDP input doc
  content/influxdb/v1.5/supported_protocols/udp.md
Labels: InfluxDB OSS

#1726 Update release notes for Telegraf 1.7.2 release.
  content/telegraf/v1.7/about_the_project/release-notes-changelog.md
Labels: Telegraf
