Repository influxdata/docs.influxdata.com, pull requests merged in 2019-08, with the labels that each got.

#2250 The delete property in the Barrier node requires to explicitly pass a boolean
  content/kapacitor/v1.5/nodes/barrier_node.md
Labels: Kapacitor OSS

#2330 Fix issue #2329
  content/chronograf/v1.7/administration/creating-connections.md
Labels: Chronograf

#2298 Update filecount description (telegraf plugin)
  data/telegraf_plugins.yml
Labels: Telegraf

#2119 clarified groupBy behavior with tags
  content/kapacitor/v1.5/nodes/group_by_node.md
Labels: Kapacitor OSS
